.DressageMenu {
	height: 10vh;
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: row;
}

.DressageMenu__Message {
	flex: 1 1 80%;
	font-size: 1.2rem;
}

.DressageMenu__Menu {
	flex: 1 1 20%;
}
.DressageMenu__Menu__Icon {
	width: 	3rem;
	height: 3rem;
	margin: 0.5rem;
}